<p id="notice"><%= notice %></p>


<p>
  <strong>image:</strong>
  <%= image_tag @work.image.thumb('400x200#').url %>

</p>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work.description %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
